html, body {
    height: 100%;
    width: 100%;
    display: flex;
    background-image: url('../../public/PollenPalsBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #003D00;
    background-attachment: fixed;
}