.loginPicture{
  width: 35%;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullPage{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loginFormArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  margin-right: 10%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginHeader {
  color: white;
  margin-bottom: 36px;
  font-size: 36px;
}

.email, .password {
  padding: 8px;
  background-color: #D2FFCF;
  color: #3C6E71;
  width: 100%;
  height: 42px;
  border-radius: 8px;
  border: none;
  margin-bottom: 12px;
  font-size: 16px;
}

.submit {
  height: 36px;
  width: 96px;
  margin-bottom: 12px;
  border: none;
  background-color: #FCB97D;
  border-radius: 10px;
  color: #3C6E71;
  font-size: 16px;
}

.leftMargin, .rightMargin {
  height: 100%;
  width: 40%;
}

.pageWithNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.signupLink {
  color: white;
}

.signupLink:visited {
  color: white;
}

.errorMessage {
  color: red;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 700;
}