.listingItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-color: #3C6E71;
    padding:24px;
}

.picture {
    max-height: 300px;
    max-width: 300px;
    margin-right: 24px;
}

.textArea {
    font-size: 14px;
    text-wrap: wrap;
}

.avatar {
    height: 36px;
    border-radius: 50%;
    border-color: #3C6E71;
    border-style: solid;
    border-width: 4px;
    margin-right: 8px;
  }

  .usernameArea {
    display: flex;
    flex-direction: row;
    align-items: center;
  }